{% load bootstrap4 %}

<div class="container-fluid " style="background-color: burlywood; height: 200px;">
  <nav class="navbar navbar-default">
    
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
          <p style="color: black;font-size:20px; font-style: italic;"><i class="fa fa-instagram"  aria-hidden="true"></i> Instagram</p>
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar">Search</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form" role="search" action="{% url 'search' %}">

              <div class="input-group">
                <input type="text" width="20%" class="form-control" placeholder="Search user..." name="search_user">
                <div style="width:10% ;" class="input-group-btn btn-">
                  <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
                </div>
               
                </div>
              </div>
           

            </form>
          </li>
          <li>
            
              {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"aria-expanded="false">Account<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="{% url 'profile'%}">Profile</a>
              </li>
              <li>
                <a href="{% url 'post'%}">Post</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
          {% else %}
         

          {% endif %}
   
      </li>
      </ul>
  

</div>
</nav>
</div>